.Carousel {
    .item {
        height: 450px;
        display: flex;
        justify-content: center;
        width: 100%;
        .item__img {
            height: 100%;
        }
    }

    .css-1m9128y{
        position: absolute;
        bottom: 20px;
        margin: 0px;
        cursor: pointer;
        z-index: 1;
        
        &:hover{
            color: #e83587;
        }
    }

    .css-1g04gm2-MuiButtonBase-root-MuiIconButton-root{
        background-color: #f2f2f2;
        color: #000;
        &:hover{
            color: #fff;
            opacity: 1;
        }
        
        .css-1abc02a{
            opacity: 1;
            &:hover{
                color: #000;
                opacity: 1!important;
            }
        }
        .css-hn784z{
            opacity: 1;
            &:hover{
                color: #000;
                opacity: 1!important;
            }
        }
    }
    
}
