@import "../../mixins.scss";

.brands{
    padding-bottom: 100px;
        padding-top: 0;
        border-bottom: 1px solid #eaeaea;
    .container{
        @include container;
        .brands__inner{

            .header__block{
                @include header__block;
                .h2{
                    @include h2;
                }
            }
            
            .brands__box{
                display: flex;
                .srvices__swiper{ 
                    display: flex;
                    .brands__item{
                        display: block;
                        margin: 0 auto;
                        .item__img__wrapper{
                            display: block;
                            margin: 0 auto;
                            max-width: 115px;
                            .item__img{
                                height: 48px;
                            }
                        }
                    }
                }
            }
        }
    }
}