.header__top {
    padding: 16px 0px;
    background-color: #000;
    width: 100%;
    .container {
        max-width: 1440px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 0px 20px;

        .header__logo {
            display: flex;
            margin-right: 60px;
            align-items: center;
            text-decoration: none;
            color: #e83587;

            h4 {
                margin: 0px;
                padding-right: 15px;
                font-size: 25px;

                span {
                    color: #fff;
                }

                border-right: 1px solid #999;
            }

            .logo__box {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-left: 15px;

                .logo {
                    color: #fff;
                }

                .text__logo {
                    font-size: 8px;
                    color: #fff;
                }
            }
        }

        .hedaer__nav__menu {
            display: flex;
            align-items: center;

            .choose__city__btn {
                color: #fff;
                text-transform: none;

                &:hover {
                    color: #e83587;
                    transition: all 0.25s ease;
                }

                .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
                    background-color: none;
                }
            }

            a {
                text-decoration: none;
                margin-left: 30px;
                color: #fff;
                font-size: 14px;

                &:hover {
                    color: #e83587;
                    transition: all 0.25s ease;
                }
            }
        }

        .header__account {
            margin-left: auto;

            .css-i4bv87-MuiSvgIcon-root {
                color: #999;
            }

            .account__text {
                margin-left: 5px;
            }

            span {
                font-size: 14px;
                color: #999;
                text-transform: none;
            }

            .shop__icons {
                color: #fff;
                cursor: pointer;

                &:hover {
                    color: #e83587;
                    transition: all 0.25s ease;
                }
            }
        }
    }
}
