@import "../../mixins.scss";

.carousel__news {
    overflow: hidden;
    padding-bottom: 65px;
    padding-top: 45px;
    background: linear-gradient(to bottom, #202833 0%, #27262c 100%);

    .container {
        @include container;

        .header__block {
            @include header__block;
            
            .h2 {
                @include h2;
            color: #fff;
            }

            .header__block__link {
                color: #e83587;
                transition: all 0.25s ease;
                text-decoration: none;
                font-size: 14px;
                display: flex;
                align-items: center;
            }

            .header__block__point {
                background-color: rgba(255, 255, 255, 0.2);
                border-radius: 50%;
                display: block;
                height: 7px;
                width: 7px;
                margin: 0px 9px 0px 20px;
                position: relative;

                &:before {
                    background-color: rgba(255, 255, 255, 0.2);
                    border-radius: 50%;
                    display: block;
                    height: 7px;
                    width: 7px;
                    position: absolute;
                    content: " ";
                    left: -20px;
                    top: 0px;
                }

                &:after {
                    background-color: rgba(255, 255, 255, 0.2);
                    border-radius: 50%;
                    display: block;
                    height: 7px;
                    width: 7px;
                    position: absolute;
                    content: " ";
                    left: -10px;
                    top: 0px;
                }
            }
        }

        .swiper-wrapper {
            display: flex;
            

            .swiper__item {
                height: 315px;
                width: 327.5px;
                display: flex;
                flex-direction: column;
                transition: all 0.25s ease;
                text-decoration: none;

                &:hover {
                    box-shadow: 0 0 15px 0 rgb(247 247 247 / 50%);
                }

                .swipper__news__info {
                    height: calc(315px - 161px);
                    padding: 20px 30px 30px;
                    background-color: #f7f7f7;
                    border-radius: 0px 0px 5px 5px;

                    .carousel__news__name {
                        color: #000;
                        display: block;
                        font-size: 16px;
                        margin-bottom: 15px;
                        font-weight: 600;
                    }

                    .carousel__descr {
                        color: #000;
                        display: block;
                        font-size: 14px;
                        margin-bottom: 5px;
                    }

                    .carousel__news__date {
                        color: #999;
                        font-size: 12px;
                    }
                }

                .item__img {
                    height: auto;
                    max-width: 100%;
                    border-radius: 5px 5px 0px 0px;
                }
            }
        }
    }
}
