.header {
    padding: 10px ;
    background-color: #212329;
    display: flex;
    justify-content: center;
    .container{
        max-width: 1440px;
        display: flex;
        align-items: center;
        .header__logo {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-decoration: none;
            color: #e83587;
            font-size: 22px;
            
            .logo {
                color: #fff;
            }
    
            .logo__text {
                color: #fff;
            }
    
            h4 {
                margin: 0px;
            }
        }
    
        .hedaer__nav__menu {
            margin-left: 40px;
            .choose__city__btn{
                color: #fff;
                &:hover{
                    color: #e83587;
                }
                .css-1e6y48t-MuiButtonBase-root-MuiButton-root{
                        background-color: none;

                }
            }
            a {
                text-decoration: none;
                margin-left: 22px;
                color: #fff;
                font-size: 14px;
                &:hover {
                    color: #e83587;
                }
            }
        }
    
        .header__account {
            margin-left: 40px;
            .css-i4bv87-MuiSvgIcon-root {
                color: darkgray;
            }
    
            .account__text {
                margin-left: 5px;
            }
    
            span {
                font-size: 14px;
                color: darkgrey;
                text-transform: none;
            }
    
            .shop__icons {
                color: #fff;
                cursor: pointer;
    
                &:hover {
                    color: #e83587;
                }
            }
        }
    }
    
}
