@import "../../mixins.scss";

.new__product {
    overflow: hidden;

    .container {
        @include container;

        .new__product__inner {
            padding-top: 40px;

            .re-store__reseller {
                .re-store__reseller__title {
                    color: #000;
                    font-size: 84px;
                    line-height: 74px;
                    padding: 147px 0;
                    position: relative;
                    font-weight: 600;

                    span {
                        color: #e83587;
                        display: block;
                    }

                    &:before {
                        background-color: #f8eaea;
                        border-radius: 50%;
                        content: '';
                        display: block;
                        height: 590px;
                        left: -105px;
                        position: absolute;
                        top: 0;
                        width: 590px;
                        z-index: -1;
                    }

                    &:after {
                        background-color: rgba(0, 0, 0, 0.1);
                        bottom: 156px;
                        content: '';
                        display: block;
                        height: 1px;
                        left: -255px;
                        position: absolute;
                        width: calc(100% + 510px);
                        z-index: -2;
                    }
                }

                .re-store-reseller__advantages {
                    margin-top: -147px;

                    .flex__advantages {
                        padding-top: 64px;

                        .flex__row {
                            display: flex;
                            flex-direction: row;
                            margin-left: -15px;
                            margin-right: -15px;

                            .flex__item {
                                padding: 0 15px;

                                &:hover > .advantages__item__title {
                                    color: #e83587;
                                    transition: color 0.25s ease;
                                }

                                text-decoration: none;

                                @media (min-width: 1440px) {
                                    width: 20%;
                                }

                                @media (min-width: 768px) {
                                    max-width: 286px;
                                    width: 25%;
                                }

                                @media (min-width: 1100px) {
                                    margin-bottom: 80px;
                                }

                                .icon__feature {
                                    width: 40px;
                                    height: 40px;
                                }

                                .advantages__item__title {
                                    font-size: 16px;
                                    line-height: 20px;
                                    transition: color 0.25s ease;
                                    margin: 16px 0 12px;
                                    color: #000;
                                    cursor: pointer;
                                }

                                .advantages__item__text {
                                    color: #000;
                                    margin-top: 10px;
                                    font-size: 14px;
                                    line-height: 20px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .container {
        @include container;

        .seo__text {
            padding-top: 73px;

            @media (min-width: 768px) {
                margin-bottom: 66px;
                border-top: 1px solid rgba(0, 0, 0, 0.1);
            }

            .seo__text__title {
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 10px;
            }

            .seo-text__column {
                position: relative;
                color: #999;
                max-height: 176px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-bottom: -10px;

                p {
                    font-size: 12px;
                    line-height: 15px;
                    width: 50%;
                    margin-top: 10px;
                }
            }
        }
    }
}
