@import "../../mixins.scss";

.blog {
    background-color: #fff;
    padding-bottom: 54px;
    padding-top: 43px;

    .container {
        @include container;

        .header__block {
            @include header__block;

            align-items: flex-end;

            .h2 {
                @include h2;
            }

            .header__blog__tags {
                white-space: nowrap;
                margin-right: auto;
                margin-left: 29px;

                .header__blog__tags {
                    margin-left: 10px;
                    background-color: #f2f2f2;
                    border-radius: 3px;
                    color: #999;
                    font-size: 14px;
                    font-weight: 400;
                    padding: 6px 12px;
                }
            }

            .header__block__link {
                color: #e83587;
                transition: all 0.25s ease;
                text-decoration: none;
                font-size: 14px;
                display: flex;
                align-items: center;

                .header__block__point {
                    background-color: rgba(0, 0, 0, 0.2);
                    border-radius: 50%;
                    display: block;
                    height: 7px;
                    width: 7px;
                    margin: 0px 9px 0px 20px;
                    position: relative;

                    &:before {
                        background-color: rgba(0, 0, 0, 0.2);
                        border-radius: 50%;
                        display: block;
                        height: 7px;
                        width: 7px;
                        position: absolute;
                        content: " ";
                        left: -20px;
                        top: 0px;
                    }

                    &:after {
                        background-color: rgba(0, 0, 0, 0.2);
                        border-radius: 50%;
                        display: block;
                        height: 7px;
                        width: 7px;
                        position: absolute;
                        content: " ";
                        left: -10px;
                        top: 0px;
                    }
                }
            }
        }

        .blog__posts {
            display: flex;
            margin-top: 40px;

            .post__card {
                color: #000;
            }

            .blog__subheader {
                font-size: 16px;
                margin-bottom: 28px;
                margin-top: 34px;
            }

            .blog__popular__posts {
                display: flex;

                .post__card {
                    color: #000;
                }
            }
        }
    }
}
