@import-normalize;
body {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-family: sans-serif;
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

a{
    transition: all 0.25s ease;
    color: #e83587;
    text-decoration: none;

   
}