@mixin container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 20px;
}

@mixin header__content{
    display: flex;
}

@mixin header__block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}

@mixin h2{
    font-size: 28px;
    margin: 0px;
}