@import "../../mixins.scss";

.services__section {
    background: linear-gradient(to bottom, #202833 0%, #27262c 100%);
    overflow: hidden;
    padding: 43px 0 71px;

    .container {
        @include container;

        .header__block {
            @include header__block;

            color: #fff;

            .h2 {
                @include h2;
            }

            .header__block__link {
                color: #e83587;
                transition: all 0.25s ease;
                text-decoration: none;
                font-size: 14px;
                display: flex;
                align-items: center;

                .header__block__point {
                    background-color: rgba(255, 255, 255, 0.2);
                    border-radius: 50%;
                    display: block;
                    height: 7px;
                    width: 7px;
                    margin: 0px 9px 0px 20px;
                    position: relative;

                    &:before {
                        background-color: rgba(255, 255, 255, 0.2);
                        border-radius: 50%;
                        display: block;
                        height: 7px;
                        width: 7px;
                        position: absolute;
                        content: " ";
                        left: -20px;
                        top: 0px;
                    }

                    &:after {
                        background-color: rgba(255, 255, 255, 0.2);
                        border-radius: 50%;
                        display: block;
                        height: 7px;
                        width: 7px;
                        position: absolute;
                        content: " ";
                        left: -10px;
                        top: 0px;
                    }
                }
            }
        }

        .swiper-wrapper {
            display: flex;

            .swiper__item {
                display: flex;
                width: 208px;
                flex-direction: column;
                text-decoration: none;
                color: #fff;

                .item__img {
                    border-radius: 5px;
                    height: 120px;
                    margin-bottom: 11px;
                    object-fit: cover;
                    width: 100%;
                }

                .carousel__services__name {
                    font-size: 16px;
                    line-height: 20px;
                }

                .carousel__descr {
                    font-size: 13px;
                    line-height: 20px;
                }
            }
        }
    }
}
